.dash{
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.logout{
    color: white;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
}